.article-head {
font-family: sans-serif;
}
.container {
  display: flex;
  font-family: sans-serif;
}
.logo {
  width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.sidebar {
  width: 12%;
  color:dodgerblue;
    font-size:80%;
}
.center {
  width: 68%;
}
.fifty {
  background-color: lightblue;
  text-align: center;
}

.informations {
  width: 20%;
  font-size:80%;
}
.title {
color:black;
text-align:left;
}
